<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="infrastructureConfiguration" type="Ticket.AsyncEnterpriseReports.Core.Configuration.Section.InfrastructureConfigurationSection,Ticket.AsyncEnterpriseReports.Core" allowLocation="true" allowDefinition="Everywhere" />
    
    <section name="ProcessManager" type="Ticket.AsyncEnterpriseReports.Core.Configuration.Section.ProcessManagerConfigurationSection,Ticket.AsyncEnterpriseReports.Core" allowLocation="true" allowDefinition="Everywhere" />

    <!-- Ticket Messaging -->
    <section name="solicitacaopedido" type="Ticket.Messaging.QueueSection, Ticket.Messaging" allowDefinition="Everywhere" allowLocation="true" />
    <section name="responsepedido" type="Ticket.Messaging.QueueSection, Ticket.Messaging" allowDefinition="Everywhere" allowLocation="true" />
    <section name="stats" type="Ticket.Messaging.QueueSection, Ticket.Messaging" allowDefinition="Everywhere" allowLocation="true" />
    
    <!-- Ticket Messaging -->

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,          log4net" />
  
  
  </configSections>

  <solicitacaopedido connectionString="amqp://cobaia:xxx@server.net:5672/CORPORATIVO" queue="report.proccess" appId="AsyncReport" assembly="plugins/Ticket.Messaging.RabbitMQ-1.1.5422.18555.dll" type="Ticket.Messaging.RabbitMQ.Consumer" logLevel="Debug" produceStats="true" />
  <responsepedido connectionString="amqp://cobaia:xxx@server.net:5672/CORPORATIVO" queue="report.response" appId="AsyncReport" assembly="plugins/Ticket.Messaging.RabbitMQ-1.1.5422.18555.dll" type="Ticket.Messaging.RabbitMQ.Producer" logLevel="Debug" produceStats="false" />
<stats connectionString="amqp://cobaia:xxx@server.net:5672/CORPORATIVO" queue="report.metrics" appId="TKT.MSG" assembly="plugins/Ticket.Messaging.RabbitMQ-1.1.5422.18555.dll" type="Ticket.Messaging.RabbitMQ.Producer" logLevel="Debug" />

  
    
  <infrastructureConfiguration logLevel="error">
    <modules>
      <module assemblyName="Ticket.AsyncEnterpriseReports.Pedidos" logLevel="error" />
    </modules>
    <sessionFactories>
      <sessionFactory name="Oracle" connectionString="Data Source=oracle:1519/dg;User ID=xxx;PASSWORD=xxx;Enlist=False" factory="Ticket.AsyncEnterpriseReports.Core.Data.NHibernate.SessionFactory.OracleSessionFactoryConfig" debug="false" />
    </sessionFactories>
  </infrastructureConfiguration>

  <ProcessManager>
    <fileSystemRepository absoluteFileLocation="D:\asyncReportfiles" />
    <queueResponseSender sectionName="responsepedido" />
    <reportRepository repositoryType="FTP" />
    <ftpRepository server="ftp://ftp.net:21" user="xxx" pwd="@xxx" />
    
    <executors>
      <executor requestSourceConfigSectionName="solicitacaopedido" parallelismDegree="6" />
    </executors>
  </ProcessManager>


  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\log.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date|%-5level|%logger|%message%newline" />
      </layout>
    </appender>

    <root>
      <level value="Debug" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>


  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="plugins" />
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" />
        <!-- Assembly versions can be redirected in application, publisher policy, or machine configuration files. -->
        <bindingRedirect oldVersion="2.0.414.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Interception" publicKeyToken="31bf3856ad364e35" />
        <!-- Assembly versions can be redirected in application, publisher policy, or machine configuration files. -->
        <bindingRedirect oldVersion="2.0.414.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.112.4.0" newVersion="2.112.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>